<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DSB</title>
    <link rel="stylesheet" type="text/css" href="index.css" inline>
    <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.min.css" inline>
    <link rel="stylesheet" type="text/css" href="components/angular-animate-css/build/nga.all.min.css" inline>
    <link rel="stylesheet" type="text/css" href="components/angular-material-data-table/dist/md-data-table.min.css" inline>
    <link rel="stylesheet" type="text/css" href="components/material-design-icons/iconfont/material-icons.css" inline>
    <style>
        html {
            background-color: #424242;
        }

        body {
            background-color: #424242;
        }
    </style>
    <script type="text/javascript" src="StorageEngine.js" inline></script>
</head>
<body ng-app="DSBApp" ng-controller="DSBController" md-theme="altTheme">
<div ng-cloak class="nga-default nga-fade" ng-show="loaded">
    <md-toolbar class="md-whiteframe-12dp">
        <div class="md-toolbar-tools">
            <span>DSB</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="settings()">
                <md-icon>settings</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-disabled="loading" ng-click="bootstrap()">
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear class="nga-fade nga-fast nga-stagger-fast" md-mode="{{ ProgressMode }}" ng-if="ProgressBar"
                        value="{{ ProgressValue }}"
                        style="background-color: #FFEB3B !important; color: rgba(0,0,0,0) !important;"></md-progress-linear>
    <div ng-repeat="(PlanKey, PlanValue) in Plans" class="nga-fade nga-fast nga-stagger-fast">
        <md-toolbar flex style="width: 100%; background-color: #FFEB3B;">
            <div class="md-toolbar-tools">
                <span style="color: #000000;">{{ PlanValue.date }}</span>
                <span flex></span>
                <span style="color: #000000;">Stand: {{ PlanValue.lastUpdate }}</span>
            </div>
        </md-toolbar>
        <md-table-container flex>
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column class="headercolor">Klassen</th>
                    <th md-column class="headercolor">Stunden</th>
                    <th md-column class="headercolor">Fach</th>
                    <th md-column class="headercolor">Lehrer</th>
                    <th md-column class="headercolor">Statt</th>
                    <th md-column class="headercolor">Raum</th>
                    <th md-column class="headercolor">Bemerkung</th>
                    <th md-column class="headercolor">Entfall</th>
                </tr>
                </thead>
                <tbody md-body ng-if="PlanValue.plan.length > 0">
                <tr md-row ng-repeat="(PKey, PValue) in PlanValue.plan">
                    <td md-cell>
                        <div ng-if="!PValue.GanzerJahrgang">
                            <no-fu ng-repeat="(KKey, KValue) in PValue.Klassen" class="cellcolor">{{ KValue }}<no-fu ng-if="$last == false">,</no-fu><br ng-if="($index % 4) === 0 && $first == false" hide-gt-sm></no-fu>
                        </div>
                        <div ng-if="PValue.GanzerJahrgang" class="cellcolor">{{ PValue['Klasse(n)'].toString() }}</div>
                    </td>
                    <td md-cell class="cellcolor">{{ PValue.Stunden.toString() }}</td>
                    <td md-cell class="cellcolor">{{ PValue.Fach }}</td>
                    <td md-cell class="cellcolor">{{ PValue.Lehrer }}</td>
                    <td md-cell class="cellcolor">{{ PValue.statt }}</td>
                    <td md-cell>
                        <div ng-if="PValue.Raum" class="cellcolor">{{ PValue.Raum }}</div>
                        <md-icon ng-if="PValue.Raum == null" style="color: #FFEB3B">warning</md-icon>
                    </td>
                    <td md-cell class="cellcolor">{{ PValue.Bemerkungen }}</td>
                    <td md-cell>
                        <md-icon ng-if="PValue.Entfall" style="color: #FFEB3B">done</md-icon>
                        <md-icon ng-if="!PValue.Entfall" class="cellcolor">close</md-icon>
                    </td>
                </tr>
                </tbody>
                <div ng-if="PlanValue.plan.length == 0 && klassen.length == 1" layout="row" layout-align="center center">
                    <p><i>Es ist nichts für deine Klasse eingetragen: {{ klassen[0] }}</i></p>
                </div>
                <div ng-if="PlanValue.plan.length == 0 && klassen.length > 1" layout="row" layout-align="center center">
                    <p><i>Es ist nichts für deine Klassen eingetragen: {{ klassen }}</i></p>
                </div>
            </table>
        </md-table-container>
    </div>
</div>
<script type="text/javascript" src="components/percentage-calc/dist/percentage-calc.min.js" inline></script>
<script type="text/javascript" src="date-de-DE.js" inline></script>
<script type="text/javascript" src="components/socket.io-client/dist/socket.io.min.js" inline></script>
<script type="text/javascript" src="components/angular/angular.min.js" inline></script>
<script type="text/javascript" src="components/angular-aria/angular-aria.min.js" inline></script>
<script type="text/javascript" src="components/angular-animate/angular-animate.min.js" inline></script>
<script type="text/javascript" src="components/angular-messages/angular-messages.min.js" inline></script>
<script type="text/javascript" src="components/angular-material/angular-material.min.js" inline></script>
<script type="text/javascript" src="components/angular-material-data-table/dist/md-data-table.min.js" inline></script>
<script type="text/javascript" src="index.js" inline></script>
</body>
</html>